@model Item
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sweet Icing Cookies</title>
    <link rel="stylesheet" href="~/css/cart.css">
</head>
<body>
    <partial name="Navbarpartial"/>
    <br>
    <h1 class="text-center">Edit Items In Cart</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Product Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price/Item</th>
                <th scope="col">Cost</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <form asp-action="UpdateCart" asp-controller="Home" asp-route-ProductId="@Model.ProductId" method="POST">
                <tr>
                    <td scope="row" asp-for="@Model.Name">@Model.Name</td>
                    <td><input type="text" asp-for="@Model.Quantity"></td>
                    <td asp-for="@Model.Price">@Model.Price</td>
                    <td asp-for="@Model.TotalCost">$@Model.TotalCost</td>
                    <td><button type="submit" class="btn">Update Quantity</button></td>
                </tr>
            </form>
        </tbody>
        </table>
        <a class="btn" href="/cart" role="button">Return To Cart</a>
        <br>
        <br>
</body>
</html>